<% if model.errors.any? %>
  <article id="error_explanation">
    <h3>Errors:</h3>
    <ul>
      <% model.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </article>
<% end %>
